.inputan {
  border-right: 5px groove;
  float: left;
  width: 50%;
  height: 400px;
  padding-left: 40px;
  padding-top: 20px;
}

.hasil {
  padding-left: 20px;
  padding-top: 20px;
  float: right;
  width: 50%;
  height: 500px;
}

input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  width: 350px;
  text-align: right;
  margin-bottom: 15px;
  margin-left: 100px;
  border: none;
  border-bottom: 1px solid black;
}

#kontainer {
  margin-top: 120px;
  margin-left: 100px;
  height: 600px;
  padding-top: 50px;
  box-shadow: 0 0 20px 0 rgb(136 146 146 / 20%);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Nav-bar {
  position: absolute;
  margin: 0;
  height: 80px;
  width: 100%;
  background-color: #2eb100;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Nav-bar .logo {
  float: left;
  height: 100%;
  width: 80px;
  margin: 2px 0 2px 10px;
  background-image: url("../img/logo_masjid.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.Nav-bar .judul {
  float: left;
  padding-left: 10px;
}

.Nav-bar .judul p {
  position: absolute;
  margin: 5px 0px;
}

.Nav-bar .judul p .jdl_1 {
  display: block;
  font-family: "Roboto";
  font: 34px black;
  font-weight: bolder;
}

.Nav-bar .judul p .jdl_2 {
  font: 16px bold black;
}

.Nav-bar nav {
  display: block;
  float: right;
  padding-top: 25px;
  margin-right: 50px;
}

.Nav-bar nav a {
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.Nav-bar nav a:hover {
  color: white;
}

.Nav-bar nav a:focus {
  color: red;
}

section {
  margin-top: 90px;
  position: absolute;
  padding-top: 20px;
  width: 98%;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 40px;
  background: #fff;
}

footer {
  /* Footer */
  position: absolute;
  top: 800px;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: #2eb100;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  /* Copyright @2021 Hamas. All Right Reserved */
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  color: #000000;
}
/*# sourceMappingURL=perhitungan.css.map */

#btn-hitung {
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
  width: 400px;
  font-size: 24px;
  border-radius: 50px;
}